{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 8
        },
        "include": ["transform-es2015-arrow-functions"],
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "external-helpers"]
}
