{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "loose": true,
        "modules": false
      }
    ],
    "@babel/preset-stage-1",
    "@babel/preset-react"
  ]
}
