{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb"],
  "plugins": [],
  "rules": {
    "no-console": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "global-require": 0,
    "react/no-unused-prop-types": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "indent": 1,
    "react/no-did-mount-set-state": 0,
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-debugger": 0,
    "no-trailing-spaces": 0,
    "import/no-named-as-default": 0,
    "arrow-parens": 0,
    "no-confusing-arrow": 0
  }
}
